  .tamanho{

    font-size: 13px !important;
  }

  .box1{
    color:#fff;
    background-image: url(../../assets/imgs/56.jpg); 
    padding: 10px; 
    border: 1px solid #4a8883;
    border-radius: 5px;
  }

  .box2{
    color:#fff;
    background-image: url(../../assets/imgs/amarelo.jpg); 
    background-repeat: no-repeat;
    background-size: 300px 150px;
    padding: 10px; 
    border: 1px solid #f5e981;
    border-radius: 5px;
  }

  .placeholder{
    margin-right: 10px !important;
  }



